In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/Universidad de morón.csv', encoding= 'utf-8')

In [5]:
df

,university,career,inscription_date,first_name,gender,age,postal_code,email
0,Universidad de morón,Licenciatura en artes,28/10/2020,Sandra simpson,F,20/02/1937,3083,Spencermurphy@hotmail.com
1,university,career,inscription_date,first_name,gender,age,postal_code,email
2,Universidad de morón,Agronomía,29/12/2020,Scott marshall,M,19/10/2009,8000,Lloydkathryn@gmail.com
3,university,career,inscription_date,first_name,gender,age,postal_code,email
4,Universidad de morón,Licenciatura en administración,24/01/2021,Jennifer kidd,F,15/02/1976,5471,Alexisstokes@yahoo.com
...,...,...,...,...,...,...,...,...
3714,Universidad de morón,Licenciatura en ciencias de la computación,13/12/2020,Michael lucas,M,24/07/1921,4103,Brookemorgan@gmail.com
3715,university,career,inscription_date,first_name,gender,age,postal_code,email
3716,Universidad de morón,Licenciatura en administración,25/10/2020,Robert reed,M,09/11/1914,1834,Diane84@hotmail.com
3717,university,career,inscription_date,first_name,gender,age,postal_code,email
3718,Universidad de morón,Ingeniería en informática,08/01/2021,Carl solis,M,29/03/2013,6058,Hopkinsadam@yahoo.com

In [6]:
df = pd.read_csv('data/Universidad-nacional-de-río-cuarto.csv', encoding= 'utf-8')

In [7]:
df

,university,career,inscription_date,first_name,gender,age,location,email
0,Universidad-nacional-de-río-cuarto,Licenciatura-en-musicoterapia,20/Dec/29,Austin-norris,M,19/Sep/06,12-de-agosto,Amycurtis@hotmail.com
1,university,career,inscription_date,first_name,gender,age,location,email
2,Universidad-nacional-de-río-cuarto,Farmacia,20/Oct/28,Tyler-owens,M,33/May/26,Matheu,Usmith@yahoo.com
3,university,career,inscription_date,first_name,gender,age,location,email
4,Universidad-nacional-de-río-cuarto,Ingeniería-mecánica,21/Jan/26,Donna-hess,F,42/Apr/03,General-gutierrez,Angelrollins@gmail.com
...,...,...,...,...,...,...,...,...
3670,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencia-política-,20/Sep/15,Willie-gordon,M,64/May/24,Bahia-langara,Adamskimberly@hotmail.com
3671,university,career,inscription_date,first_name,gender,age,location,email
3672,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencias-biológicas,21/Jan/10,Victoria-duran,F,11/Nov/05,Agustoni,Nicolehenderson@gmail.com
3673,university,career,inscription_date,first_name,gender,age,location,email
3674,Universidad-nacional-de-río-cuarto,Farmacia,20/Sep/21,Brad-vega,M,44/Jun/19,Monte-chingolo,Laurenkennedy@hotmail.com