In [356]:
import pandas as pd
from pandas_profiling import ProfileReport

In [454]:
df_moron = pd.read_csv('data/Universidad-nacional-de-río-cuarto.csv')

In [418]:
def normalize(x:str) -> str:

    return x.strip().lower().replace('-',' ')
df_moron['first_name'] = df_moron['first_name'].apply(normalize)

In [ ]:
def clean_full_name(full_name:list) -> list:

    for element in full_name:
        if len(element) == 4:
            element.pop(0)
            element.pop()

        elif len(element) == 3:
            if '.' in element[0]:
                element.pop(0)
            else:
                element.pop()
                
    return full_name

In [419]:
df_moron.iloc[423]

university          Universidad-nacional-de-río-cuarto
career                   Licenciatura-en-musicoterapia
inscription_date                             21/Jan/21
first_name                          mrs. teresa lucero
gender                                               F
age                                          40/Feb/21
location                                     El-retiro
email                               Iwoods@hotmail.com
Name: 423, dtype: object

In [358]:
df_moron.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   university        1838 non-null   object
 1   career            1838 non-null   object
 2   inscription_date  1838 non-null   object
 3   first_name        1838 non-null   object
 4   gender            1838 non-null   object
 5   age               1838 non-null   object
 6   location          1838 non-null   object
 7   email             1838 non-null   object
dtypes: object(8)
memory usage: 115.0+ KB

In [359]:
def normalize(x):
    return x.strip().lower()

In [360]:
df_moron["full_name"] = df_moron["first_name"]
# df_moron["full_name"] = df_moron["full_name"].apply(lambda x: x.strip().lower())
df_moron["full_name"] = df_moron["full_name"].apply(normalize)

In [361]:
splitted = df_moron["full_name"].apply(lambda x: x.split("-"))

In [362]:
for element in splitted:
    if len(element) == 4:
        # element.pop(0)
        # element.pop()
        print("len=4, pos 0: ",element[0])
        print("len=4, pos -1: ",element[-1])

    elif len(element) == 3:
        if '.' in element[0]:
            # element.pop(0)
            print("len=3, pos 0: ",element[0])
        else:
            # element.pop()
            print("len=3, pos -1: ",element[-1])

len=3, pos -1:  md
len=3, pos 0:  mr.
len=3, pos -1:  jr.
len=3, pos -1:  jr.
len=3, pos -1:  md
len=3, pos 0:  mr.
len=3, pos 0:  mrs.
len=3, pos 0:  dr.
len=3, pos -1:  dvm
len=3, pos -1:  md
len=3, pos 0:  dr.
len=3, pos -1:  dds
len=3, pos -1:  dds
len=3, pos 0:  mrs.
len=3, pos 0:  dr.
len=3, pos 0:  ms.
len=3, pos -1:  phd
len=3, pos -1:  md
len=3, pos -1:  dvm
len=3, pos 0:  dr.
len=3, pos 0:  mr.
len=3, pos 0:  dr.
len=4, pos 0:  mrs.
len=4, pos -1:  phd
len=3, pos -1:  md
len=4, pos 0:  mr.
len=4, pos -1:  jr.
len=4, pos 0:  miss
len=4, pos -1:  md
len=3, pos -1:  jr.
len=3, pos -1:  dvm
len=3, pos 0:  mrs.
len=3, pos -1:  md
len=3, pos 0:  dr.
len=3, pos 0:  mr.
len=3, pos 0:  mr.
len=3, pos -1:  dds
len=3, pos -1:  jr.
len=3, pos -1:  jr.
len=3, pos -1:  dds
len=3, pos -1:  md
len=3, pos 0:  dr.
len=3, pos -1:  md
len=3, pos -1:  dds
len=3, pos -1:  dds
len=4, pos 0:  mrs.
len=4, pos -1:  dvm
len=3, pos -1:  md
len=3, pos -1:  md
len=3, pos -1:  md
len=3, pos -1:  dds
len=3, pos 0:  mrs.
len=3, pos 0:  dr.
len=4, pos 0:  mrs.
len=4, pos -1:  md
len=3, pos -1:  phd
len=3, pos 0:  mr.
len=3, pos -1:  md
len=3, pos -1:  md
len=3, pos -1:  dvm
len=4, pos 0:  mrs.
len=4, pos -1:  md
len=3, pos 0:  dr.
len=3, pos -1:  dvm
len=3, pos 0:  dr.
len=3, pos -1:  md
len=3, pos -1:  md
len=3, pos -1:  md
len=3, pos -1:  md

In [363]:
def clean_full_name(splitted:list):
    for element in splitted:
        if len(element) == 4:
            element.pop(0)
            element.pop()
            # print("len=4, pos 0: ",element[0])
            # print("len=4, pos -1: ",element[-1])

        elif len(element) == 3:
            if '.' in element[0]:
                element.pop(0)
                # print("len=3, pos 0: ",element[0])
            else:
                element.pop()
                # print("len=3, pos -1: ",element[-1])
    return splitted

In [364]:
splitted = clean_full_name(splitted)

In [365]:
df_moron["first_name"] = splitted.apply(lambda x: x[0])

In [366]:
df_moron

,university,career,inscription_date,first_name,gender,age,location,email,full_name
0,Universidad-nacional-de-río-cuarto,Licenciatura-en-musicoterapia,20/Dec/29,austin,M,19/Sep/06,12-de-agosto,Amycurtis@hotmail.com,austin-norris
1,Universidad-nacional-de-río-cuarto,Farmacia,20/Oct/28,tyler,M,33/May/26,Matheu,Usmith@yahoo.com,tyler-owens
2,Universidad-nacional-de-río-cuarto,Ingeniería-mecánica,21/Jan/26,donna,F,42/Apr/03,General-gutierrez,Angelrollins@gmail.com,donna-hess
3,Universidad-nacional-de-río-cuarto,Licenciatura-en-terapia-ocupacional,20/Oct/12,john,M,06/Jan/01,Aconquija,Jamesho@yahoo.com,john-gonzales
4,Universidad-nacional-de-río-cuarto,Ingeniería-en-informática,21/Jan/15,michael,M,95/Mar/07,Chelforo,Laura64@yahoo.com,michael-smith
...,...,...,...,...,...,...,...,...,...
1833,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencia-y-tecnología-de-alimentos,21/Jan/24,erika,F,88/Jul/03,Maori,Bennettanthony@yahoo.com,erika-lee
1834,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencias-ambientales,20/Nov/22,adam,M,07/Aug/31,Buena-vista,James12@hotmail.com,adam-brown
1835,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencia-política-,20/Sep/15,willie,M,64/May/24,Bahia-langara,Adamskimberly@hotmail.com,willie-gordon
1836,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencias-biológicas,21/Jan/10,victoria,F,11/Nov/05,Agustoni,Nicolehenderson@gmail.com,victoria-duran
1837,Universidad-nacional-de-río-cuarto,Farmacia,20/Sep/21,brad,M,44/Jun/19,Monte-chingolo,Laurenkennedy@hotmail.com,brad-vega

In [367]:
df_moron["last_name"] = splitted.apply(lambda x: x[1])

In [368]:
df_moron.drop(columns="full_name",inplace=True)

In [369]:
cols = df_moron.columns.to_list()

In [370]:
# cols = cols[:]
cols = cols[:4] + cols[-1:] + cols[4:-1]

In [371]:
cols

['university',
 'career',
 'inscription_date',
 'first_name',
 'last_name',
 'gender',
 'age',
 'location',
 'email']

In [372]:
df_moron = df_moron[cols]

In [373]:
df_moron

,university,career,inscription_date,first_name,last_name,gender,age,location,email
0,Universidad-nacional-de-río-cuarto,Licenciatura-en-musicoterapia,20/Dec/29,austin,norris,M,19/Sep/06,12-de-agosto,Amycurtis@hotmail.com
1,Universidad-nacional-de-río-cuarto,Farmacia,20/Oct/28,tyler,owens,M,33/May/26,Matheu,Usmith@yahoo.com
2,Universidad-nacional-de-río-cuarto,Ingeniería-mecánica,21/Jan/26,donna,hess,F,42/Apr/03,General-gutierrez,Angelrollins@gmail.com
3,Universidad-nacional-de-río-cuarto,Licenciatura-en-terapia-ocupacional,20/Oct/12,john,gonzales,M,06/Jan/01,Aconquija,Jamesho@yahoo.com
4,Universidad-nacional-de-río-cuarto,Ingeniería-en-informática,21/Jan/15,michael,smith,M,95/Mar/07,Chelforo,Laura64@yahoo.com
...,...,...,...,...,...,...,...,...,...
1833,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencia-y-tecnología-de-alimentos,21/Jan/24,erika,lee,F,88/Jul/03,Maori,Bennettanthony@yahoo.com
1834,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencias-ambientales,20/Nov/22,adam,brown,M,07/Aug/31,Buena-vista,James12@hotmail.com
1835,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencia-política-,20/Sep/15,willie,gordon,M,64/May/24,Bahia-langara,Adamskimberly@hotmail.com
1836,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencias-biológicas,21/Jan/10,victoria,duran,F,11/Nov/05,Agustoni,Nicolehenderson@gmail.com
1837,Universidad-nacional-de-río-cuarto,Farmacia,20/Sep/21,brad,vega,M,44/Jun/19,Monte-chingolo,Laurenkennedy@hotmail.com

In [374]:
prof = ProfileReport(df_moron)

In [375]:
# prof

In [376]:
df_moron["last_name"][4]

'smith'

In [384]:
name = "moron"

In [385]:
x = "" if name == 'moron' else '-'

In [386]:
x

''

In [412]:
x= "-"
y= " "
a = "     a-b-C-d-E-F  "
b = "a b c d e f"
# a= a.split(sep=x)
# b= b.split(sep=y)

a = a.strip().lower().replace('-',' ')



print("a:",a)
print("b:",b)

a: a b c d e f
b: a b c d e f

In [462]:
# def normalize_date(date):
#     return pd.to_datetime(date).strftime("%y-%m-%d")

In [446]:
df_moron['inscription_date'] = df_moron['inscription_date'].apply(normalize_date)
# df_moron['inscription_date'] = pd.to_datetime(df_moron['inscription_date'], format="%d/%Mon/%y")
# pd.to_datetime(df_moron['inscription_date']).strftime("%Y-%m-%d")

In [447]:
df_moron['inscription_date']

0       2029-12-20
1       2028-10-20
2       2026-01-21
3       2012-10-20
4       2015-01-21
           ...
1833    2024-01-21
1834    2022-11-20
1835    2015-09-20
1836    2010-01-21
1837    2021-09-20
Name: inscription_date, Length: 1838, dtype: object

In [505]:
from datetime import date, datetime
from dateutil.relativedelta import relativedelta

In [623]:
df_moron = pd.read_csv('data/Universidad-nacional-de-río-cuarto.csv')

In [553]:
def normalize_date(date):
    # return pd.to_datetime(date).strftime("%y-%m-%d").date()
    # return pd.to_datetime(date)
    # return datetime.strptime(date, "%w/%b/%y").date()
    return pd.to_datetime(date).strftime("%Y-%m-%d")

In [545]:
def normalize_age(age:date):
    date = age.split("/")
    age = date[2] + '-' + date[1] + '-' + date[0]
    return age
    # return date.today() - age

In [512]:
def normalize_age2(age:date):
    age = relativedelta(pd.Timestamp.now(), date).years 
    return age if age > 0 else age + 100
    # return date.today() - age

In [605]:
def age(born):
    born = datetime.strptime(born, "%Y-%m-%d").date()
    today = date.today()
    # return today - born
    age = today.year - born.year - ((today.month, 
                                      today.day) < (born.month, 
                                                    born.day))
    return age if age >= 0 else age + 100

In [624]:
df_moron['age'] = df_moron['age'].apply(lambda x: x.replace('00','01'))
df_moron['age'] = df_moron['age'].apply(normalize_age)

In [620]:
df_moron['age'] = df_moron['age'].apply(normalize_date)

In [622]:
df_moron['age'] = df_moron['age'].apply(age)

In [552]:
# df_moron['age'] = df_moron['age'].apply(normalize_age2)

In [625]:
df_moron#.sort_values(by='age')

,university,career,inscription_date,first_name,gender,age,location,email
0,Universidad-nacional-de-río-cuarto,Licenciatura-en-musicoterapia,20/Dec/29,Austin-norris,M,06-Sep-19,12-de-agosto,Amycurtis@hotmail.com
1,Universidad-nacional-de-río-cuarto,Farmacia,20/Oct/28,Tyler-owens,M,26-May-33,Matheu,Usmith@yahoo.com
2,Universidad-nacional-de-río-cuarto,Ingeniería-mecánica,21/Jan/26,Donna-hess,F,03-Apr-42,General-gutierrez,Angelrollins@gmail.com
3,Universidad-nacional-de-río-cuarto,Licenciatura-en-terapia-ocupacional,20/Oct/12,John-gonzales,M,01-Jan-06,Aconquija,Jamesho@yahoo.com
4,Universidad-nacional-de-río-cuarto,Ingeniería-en-informática,21/Jan/15,Michael-smith,M,07-Mar-95,Chelforo,Laura64@yahoo.com
...,...,...,...,...,...,...,...,...
1833,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencia-y-tecnología-de-alimentos,21/Jan/24,Erika-lee,F,03-Jul-88,Maori,Bennettanthony@yahoo.com
1834,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencias-ambientales,20/Nov/22,Adam-brown,M,31-Aug-07,Buena-vista,James12@hotmail.com
1835,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencia-política-,20/Sep/15,Willie-gordon,M,24-May-64,Bahia-langara,Adamskimberly@hotmail.com
1836,Universidad-nacional-de-río-cuarto,Licenciatura-en-ciencias-biológicas,21/Jan/10,Victoria-duran,F,05-Nov-11,Agustoni,Nicolehenderson@gmail.com
1837,Universidad-nacional-de-río-cuarto,Farmacia,20/Sep/21,Brad-vega,M,19-Jun-44,Monte-chingolo,Laurenkennedy@hotmail.com