In [32]:
from mapreduce import *
import pandas as pd

In [33]:
xml_file_path = 'raw_data/posts.xml'
xml_root = get_single_xml(xml_file_path)

In [34]:
# Tarjeta nro 1
# Top 10 tipo de post sin respuestas aceptadas (tag - AcceptedAnswerId - AnswerCount)
mapped_xml = map_function(xml_root = xml_root)
t1 = mapper_task_1(mapped_xml = mapped_xml)
t1 = reducer_task_1(mapped_tuples = t1)
pd.DataFrame.from_dict(t1, orient = 'index', columns = ['Count']).reset_index().rename(columns = {'index' : 'Tag'})

                Tag  Count
0        discussion   2916
1   feature-request   2815
2               bug   1396
3           support   1261
4     stackoverflow    848
5  status-completed    647
6              tags    524
7        reputation    427
8            area51    372
9         questions    354

In [35]:
# Tarjeta nro 2
# Relaci√≥n entre cantidad de respuestas de un post y su puntaje.
mapped_xml = map_function(xml_root = xml_root)
t2 = mapper_task_2(mapped_xml = mapped_xml)
t2 = reducer_task_2(mapped_tuples = t2)
t2

0.17646355319021706

In [36]:
# Tarjeta nro 3
# Top 10 preguntas que tuvieron mayor tiempo de actividad
mapped_xml = map_function(xml_root = xml_root)
t3 = mapper_task_3(mapped_xml = mapped_xml)
t3 = reducer_task_3(mapped_tuples = t3)
pd.DataFrame(t3, columns = ['Post Id', 'Days'])

  Post Id  Days
0    9508   806
1    7931   802
2   12362   785
3    7046   779
4   11602   774
5   14656   770
6   19470   769
7   10582   763
8   17853   762
9    8211   760